html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #131313;
  color: white;
  margin: 0%;
  height: 2000px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
  -webkit-transition: background-color 2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}
::-webkit-scrollbar-track {
  background: #111111;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  width: 97%;
  border-width: 1px 0 0 0;
  border-color: #aaaaaa;
}

input {
  font-size: 21px;
  color: white;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: none;
}
input:focus { outline: none; }

.table-section {
  margin-bottom: 50px;
}
table {
  border: 1px solid #505050;
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #505050;
  padding: 10px;
}
td {
  color: #cccccc;
  padding: 10px;
}
th + th,
td + td {
  border-left: 1px solid #505050;
}

li {
  list-style-type: none;
}
.invisible {
  opacity: 0;
}

.text {
  margin-bottom: 25px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 330;
  word-spacing: 1px;
}
.container {
  height: 5000px;
}
.body-container {
  height: auto;
}
.main-header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-left: 55px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 150px;
  background-color: rgb(19, 19, 19, 0.5);
  z-index: 100000;
}

.main-body-container {
  padding: 0px 30px;
}

.main-logo {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.page-select {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 19px;
  cursor: pointer;
}

.top-button {
  position: sticky;
  top: 89%;
  margin-left: 1580px;
  display: inline-block;
  z-index: 99999;
  opacity: 0;
  transition: opacity .2s ease;
}
.top-button.visible {
  opacity: 1;
}
.top-button:hover {
  cursor: pointer;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 700px;
  border-bottom: 2px solid white;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 100;
  border-bottom: 2px solid white;
}

.image-text {
  position: absolute;
  font-size: 60px;
  top: 61%;
  left: 17%;
  opacity: 0;
  transition: opacity .5s ease, left .5s ease;
  z-index: 1001;
}
.image-text.visible {
  opacity: 1;
  left: 20%;
}

.reason-container {
  position: relative;
  height: 149px;
  display: flex;
  justify-content: center;
  padding: 55px 10px 22px 10px;
  border-bottom: 1px solid white;
}
.reason-text {
  padding: 30px 120px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease, padding-top .5s ease;
}
.reason-text.visible1 {
  padding-top: 20px;
  opacity: 1;
}
.reason-text.visible2 {
  padding-top: 20px;
  opacity: 1;
  transition-delay: 0.2s;
}
.reason-text.visible3 {
  padding-top: 20px;
  opacity: 1;
  transition-delay: 0.4s;
}

.function-container,
.chart-container {
  height: 700px;
  padding: 200px 40px;
  text-align: center;
}
.function-title,
.chart-title {
  font-size: 50px;
  font-weight: lighter;
}
.function-title::after {
  content: "";
  position: absolute;
  left: 47.8%;
  bottom: -580px;
  height: 2px;
  width: 80px;
  background: white;
}
.chart-title::after {
  content: "";
  position: absolute;
  left: 47%;
  bottom: -1635px;
  height: 2px;
  width: 100px;
  background: white;
}
.func-section1 {
  text-align: center;
  padding: 100px 0px;
}
.sect1-explain-container {
  display: block;
  box-sizing: border-box;
  text-align: center;
}
.explain-text {
  font-size: 30px;
  padding-top: 20px;
  opacity: 0;
  transition: padding-top 1s ease, opacity 1s ease;
}
.explain-text.visible {
  padding-top: 0px;
  opacity: 1;
}
.sect1-test-container {
  display: block;
  box-sizing: border-box;
  color: #cccccc;
  padding-top: 70px;
}
.func-input-container,
.func-output-container {
  display: block;
  width: 500px;
  font-family: "Nanum Gothic Coding";
  padding-bottom: 30px  ;
  margin: 0 auto;
}
.func-input,
.func-output {
  color: #cccccc;
  padding: 15px 0px 0px 130px;
  text-align: left;
}
.text-input-lv0,
.text-input-lv1{
  margin-bottom: 5px
}
.text-input-lv2,
.text-input-lv3,
.text-input-lv4 {
  filter: blur(1px);
  margin-bottom: 5px
}
.text-animation-output {
  width: 300px;
  margin-bottom: 5px;
  animation: typing 2s steps(50), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid white;
}

.chart {
  padding-top: 100px;
}
.chart-Y {
  width: 20px;
  position:absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.chart-X {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

.chart-explain-container {
  padding-top: 170px;
}
.chart-explain {
  font-size: 30px;
}

@keyframes typing {
  from { width: 0 }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.etc-container {
  position: relative;
  display: flex;
  padding: 0px 10px 20px 35px;
  border-top: 1px solid white;
}
.etc-title {
  font-size: 19px;
  font-weight: 600;
}
.git-container {
  flex: 0 0 auto;
}
.contact-container {
  flex: 1 1 auto;
  padding-left: 40px;
}


/*.test-container {*/
/*  position: absolute;*/
/*  !*display: flex;*!*/
/*  !*justify-content: center;*!*/
/*  width: 100%;*/
/*  height: 800px;*/
/*  margin-top: 95px;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: 0;*/
/*}*/

/*.test-text-container {*/
/*  width: 70%;*/
/*  border-right: 2px solid white;*/
/*}*/

/*.test-text {*/
/*  position: absolute;*/
/*  font-size: 55px;*/
/*  top: 13%;*/
/*  left: 17%;*/
/*  opacity: 0;*/
/*  z-index: 1001;*/
/*  transition: opacity .5s ease, left .5s ease;*/
/*}*/
/*.test-text.visible {*/
/*  left: 13%;*/
/*  opacity: 1;*/
/*}*/
.test-body {
  display: flex;
  font-size: 40px;
  padding: 50px 50px;
}
.test-box-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 50px;
}
.test-input-container {
  position: relative;
  padding-bottom: 50px;
  display: inline-block;
  width: auto;
  /*top: 38%;*/
  /*left: 15%;*/
}
.test-input-form {
  display: inline-block;
}
.test-result-text {
  /*position: absolute;*/
  display: inline-block;
  width: 550px;
  left: 51%;
  top: 50%;
  padding: 0px 18px;
  font-size: 19px;
  color: #EEEEEE;
  border: 2px solid #404040;
  border-radius: 8px;
}
.result-text {
  font-family: Consolas;
}
.test-explain-container {
  padding-right: 50px;
  border-right: 1px solid white;
}
.test-container,
.manual-container,
.spec-container {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 0;
}
.test-image-container,
.manual-image-container,
.spec-image-container {
  position: relative;
  height: 500px;
  margin: 0px;
  border-bottom: solid white 2px;
}
.manual-text-container,
.test-text-container {
  position: absolute;
  font-size: 55px;
  top: 13%;
  left: 17%;
  opacity: 0;
  z-index: 1001;
  transition: opacity .5s ease, left .5s ease;
}
.manual-text-container.visible,
.test-text-container.visible {
  left: 20%;
  opacity: 1;
}
.manual-body-container,
.spec-body-container {
  align-items: stretch;
  display: flex;
  max-width: 100%;
  height: 1000px;
}
.side-nav-container {
  height: 5000px;
  margin-left: 20px;
  border-radius: 5px;
  border-right: 2px solid #303030;
  background-color: #111111;
}
.side-nav {
  position: sticky;
  top: 35%;
  flex: 0 0 auto;
  width: 220px;
  padding: 20px 20px;
  border-radius: 10px;
}
.side-nav-section {
  margin-bottom: 40px;
}
.side-nav-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 2px 2px 10px;
  font-size: 17px;
  font-weight: 600;

}
a.side-nav-item {
  display: flex;
  margin-bottom: 3px;
  padding: 6px 2px 6px 10px;
  background-color: #111111;
  border-radius: 5px;
  color: darkgray;
  font-size: 15px;
  font-weight: 570;
  justify-content: space-between;
  transition: background-color .2s ease;
}
a.side-nav-item:hover,
a.side-nav-item.view {
  background-color: #202020;
  text-decoration: none;
}

.content-container {
  flex: 1 1 auto;
  font-family: sans-serif;
  padding: 25px 475px 25px 175px;
  line-height: 1.7;
}
.title1 {
  font-size: 35px;
  font-weight: 550;
  letter-spacing: 1px;
}
.title2 {
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 1px;
}
.title3 {
  font-family: "Reddit Mono";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content-section {
  padding: 25px;
}

.code-section {
  min-height: 20px;
  margin-bottom: 50px;
  padding: 10px 25px;
  background-color: #202020;
  border-radius: 8px;
}
.long-code-section {
  min-height: 20px;
  margin-bottom: 50px;
  padding: 10px 25px;
  background-color: #202020;
  border-radius: 8px;
}
.code-font {
  font-family: "Reddit Mono";
  font-size: 15px;
  font-weight: normal;
  line-height: 1.8;
}

.side-block-container {
  width: 260px;
  height: 5000px;
  margin-left: 20px;
  border-radius: 5px;
  border-right: 2px solid #303030;
  background-color: #111111;
}