html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #131313;
  color: white;
  margin: 0%;
  height: 2000px;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  width: 97%;
  border-width: 1px 0 0 0;
  border-color: #aaaaaa;
}

input {
  font-size: 21px;
  color: white;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: none;
}
input:focus { outline: none; }

.table-section {
  margin-bottom: 50px;
}
table {
  border: 1px solid #505050;
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #505050;
  padding: 10px;
}
td {
  color: #cccccc;
  padding: 10px;
}
th + th,
td + td {
  border-left: 1px solid #505050;
}

.invisible {
  opacity: 0;
}

.text {
  margin-bottom: 25px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 330;
  word-spacing: 1px;
}
.container {
  height: 5000px;
}
.body-container {
  height: auto;
}
.main-header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-left: 55px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 150px;
  background-color: rgb(19, 19, 19, 0.5);
  z-index: 100000;
}

.main-body-container {
  padding: 0px 30px;
}

.main-logo {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.page-select {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 19px;
  cursor: pointer;
}

.top-button {
  position: sticky;
  top: 89%;
  margin-left: 1580px;
  display: inline-block;
  z-index: 99999;
  opacity: 0;
  transition: opacity .2s ease;
}
.top-button.visible {
  opacity: 1;
}
.top-button:hover {
  cursor: pointer;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 700px;
  border-bottom: 2px solid white;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 100;
  border-bottom: 2px solid white;
}

.image-text {
  position: absolute;
  font-size: 60px;
  top: 61%;
  left: 17%;
  opacity: 0;
  transition: opacity .5s ease, left .5s ease;
  z-index: 1001;
}
.image-text.visible {
  opacity: 1;
  left: 20%;
}

.reason-container {
  position: relative;
  height: 149px;
  display: flex;
  justify-content: center;
  padding: 10px 10px 70px 10px;
}
.reason-text {
  padding: 30px 120px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease, padding-top .5s ease;
}
.reason-text.visible1 {
  padding-top: 20px;
  opacity: 1;
}
.reason-text.visible2 {
  padding-top: 20px;
  opacity: 1;
  transition-delay: 0.2s;
}
.reason-text.visible3 {
  padding-top: 20px;
  opacity: 1;
  transition-delay: 0.4s;
}

.function-container {
  height: 1000px;
  margin: 0px 40px;
  padding: 10px;
  border-top: 1px solid white;
}
.function-title {
  font-size: 40px;
}
.func-section1 {
  display: flex;
  padding: 100px 0px;
  /*border: 1px solid white;*/
}
.sect1-explain-container {
  display: flex;
  width: 500px;
  padding-right: 120px;
  align-items: center;
  border-right: 1px solid white;
}
.explain-text {
  font-size: 30px;
}
.sect1-test-container {
  color: #cccccc;
  padding-left: 200px;
}
.test-input-container {
  font-family: "Nanum Gothic Coding";
  width: 600px;
  height: 160px;
  padding: 0px 20px;
  /*border-top: 1px dotted #cccccc;*/
}
.test-output-container {
  font-family: "Nanum Gothic Coding";
  width: 600px;
  height: 160px;
  padding: 0px 20px;
  /*border-top: 1px dotted #cccccc;*/
}
.test-input,
.test-output {
  color: #cccccc;
  padding: 0px 0px;
}
.text-input-lv0,
.text-input-lv1{

}
.text-input-lv2,
.text-input-lv3,
.text-input-lv4 {
  filter: blur(1px);
}
.text-animation-output {
  width: 300px;
  animation: typing 2s steps(5), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
}.

@keyframes typing {
  from { width: 0 }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.etc-container {
  position: relative;
  display: flex;
  padding: 0px 10px 20px 35px;
  border-top: 1px solid white;
}
.etc-title {
  font-size: 19px;
  font-weight: 600;
}
.git-container {
  flex: 0 0 auto;
}
.contact-container {
  flex: 1 1 auto;
  padding-left: 40px;
}


/*.test-container {*/
/*  position: absolute;*/
/*  !*display: flex;*!*/
/*  !*justify-content: center;*!*/
/*  width: 100%;*/
/*  height: 800px;*/
/*  margin-top: 95px;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: 0;*/
/*}*/

.test-text-container {
  width: 70%;
  border-right: 2px solid white;
}

.test-text {
  position: absolute;
  font-size: 55px;
  top: 13%;
  left: 17%;
  opacity: 0;
  z-index: 1001;
  transition: opacity .5s ease, left .5s ease;
}
.test-text.visible {
  left: 13%;
  opacity: 1;
}
.test-area-container {
  display: flex;
  width: 100%;
  font-size: 40px;
}
.test-box-container {
  position: relative;
  display: inline-block;
  width: auto;
  top: 38%;
  left: 15%;
}
.test-box-form {
  display: inline-block;
}
.test-result-text {
  position: absolute;
  display: inline-block;
  width: 500px;
  left: 51%;
  top: 50%;
  padding: 0px 18px;
  font-size: 19px;
  color: #EEEEEE;
  border: 2px solid #404040;
  border-radius: 8px;
}
.result-text {
  font-family: Consolas;
}

.test-container,
.manual-container,
.spec-container {
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 0;
}
.test-image-container,
.manual-image-container,
.spec-image-container {
  position: relative;
  height: 500px;
  margin: 0px;
  border-bottom: solid white 2px;
}
.manual-text-container {
  position: absolute;
  font-size: 55px;
  top: 13%;
  left: 17%;
  opacity: 0;
  z-index: 1001;
  transition: opacity .5s ease, left .5s ease;
}
.manual-text-container.visible {
  left: 20%;
  opacity: 1;
}
.manual-body-container,
.spec-body-container {
  align-items: stretch;
  display: flex;
  max-width: 100%;
  height: 1000px;
}
.side-nav-container {
  height: 5000px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid #303030;
  background-color: #111111;
}
.side-nav {
  position: sticky;
  top: 35%;
  flex: 0 0 auto;
  width: 220px;
  padding: 20px 20px;
  border-radius: 10px;
}
.side-nav-section {
  margin-bottom: 40px;
}
.side-nav-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 2px 2px 10px;
  font-size: 17px;
  font-weight: 600;

}
a.side-nav-item {
  display: flex;
  margin-bottom: 3px;
  padding: 6px 2px 6px 10px;
  background-color: #111111;
  border-radius: 5px;
  color: darkgray;
  font-size: 15px;
  font-weight: 570;
  justify-content: space-between;
  transition: background-color .2s ease;
}
a.side-nav-item:hover,
a.side-nav-item.view {
  background-color: #202020;
  text-decoration: none;
}

.content-container {
  flex: 1 1 auto;
  font-family: sans-serif;
  padding: 25px 475px 25px 175px;
  line-height: 1.7;
}
.title1 {
  font-size: 35px;
  font-weight: 550;
  letter-spacing: 1px;
}
.title2 {
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 1px;
}
.title3 {
  font-family: "Reddit Mono";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content-section {
  padding: 25px;
}

.code-section {
  min-height: 20px;
  margin-bottom: 50px;
  padding: 10px 25px;
  background-color: #202020;
  border-radius: 8px;
}
.long-code-section {
  min-height: 20px;
  margin-bottom: 50px;
  padding: 10px 25px;
  background-color: #202020;
  border-radius: 8px;
}
.code-font {
  font-family: "Reddit Mono";
  font-size: 15px;
  font-weight: normal;
  line-height: 1.8;
}

.side-block-container {
  width: 260px;
  height: 5000px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid #303030;
  background-color: #111111;
}